<!DOCTYPE html>
<html lang="en">
        <%- include('./partials/_head.ejs') %>
		<link rel="stylesheet" href="/css/about.css" />
	</head>
	<body>
        <%- include('./partials/_header.ejs') %>
        <main class="container">
		<h1 class="about__title"><%= info %></h1>
		<p class="about__description">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
			pariatur! Velit natus quisquam error aperiam assumenda quae suscipit cum
			voluptas sapiente qui ut corrupti rerum, amet commodi nulla est eos itaque
			nobis placeat enim incidunt. Ullam vitae assumenda quam blanditiis.
		</p>
        </main>
	</body>
</html>
