<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/_head.ejs') %>
	</head>
	<body>
		<%- include('./partials/_header.ejs') %>
		<main class="container">
			<h1><%= info %></h1>
			<h3>our services include</h3>
			<ul>
				<li>fetching data from databse</li>
				<li>finding users to consume your data</li>
				<li>liatening to good advice from employers</li>
				<li>hiring the best hands for the job</li>
			</ul>
		</main>
	</body>
</html>
